# deps
node_modules/
.pnpm-store/

# next
.next/
out/
build/

# env
.env
.env.local
.env.*.local
.env.dec

# misc
.DS_Store
*.pem
npm-debug.log*
pnpm-debug.log*

# typescript
*.tsbuildinfo
next-env.d.ts
